.profile {
  max-width: 250px;
  border: 1px solid #ccc;
  margin: 30px auto;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
}
.description {
  margin: 0 60px;
}
.avatar {
  display: block;
  width: 100%;
  max-width: 120px;
  border-radius: 50%;
  margin: 30px 0 0 0;
}

.name {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  margin: 20px 0 0 0;
  text-align: center;
}

.tag,
.location {
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  color: gray;
  text-align: center;
  margin: 10px 0 0 0;
}

.stats {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.statsItem {
  display: flex;
  width: 33.333%;
  padding: 15px 0;
  flex-direction: column;
  background: #e2e8ef;
  border-top: 1px solid #ccc;
}

.statsItem:not(:last-child) {
  border-right: 1px solid #ccc;
}

.label {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  font-size: 12px;
  color: gray;
  margin: 0 auto;
}

.quantity {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 14px;
  margin: 0 auto;
  margin-top: 5px;
}
