.text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 10px;
  text-align: center;
}

.textRow:nth-child(2n) {
  background: #e7e7e7;
}
